.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .cardsContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}
