.navbar {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.titleContainer {
  display: none;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #8080a0;
}

.profilePictureContainer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.profilePicture {
  background: #d414d4;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profilePictureContainer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
@media screen and (min-width: 700px) {
  .titleContainer {
    display: block;
  }
  .titleContainer h1 {
    font-size: 2.5rem;
    color: #22215b;
  }
  .titleContainer h3 {
    font-size: 1rem;
    color: #8080a0;
  }
  .profilePicture {
    background: #d414d4;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }
}
