.layoutContainer {
  min-height: 100vh;
  background: #fafafa;
}

.layout {
  margin: auto;
  background: #fafafa;
  padding: 1rem 0.5rem;
  width: 95%;
  min-height: 100vh;
}

@media screen and (min-width: 700px) {
  .layout {
    width: 85%;
    height: 100%;
  }
}
