.sidebarContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebarOpen {
  width: 90vw;
  transition: all 0.2s;
  z-index: 10;
  height: 100%;
  position: fixed;
  padding: 3rem 0;
  top: 0;
  left: 0;
  background: #deecff;
}

.showText {
  display: none;
}

.sidebarTopButtons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
.sidebarTopButtons > * {
  margin: auto;
}

.sidebarBottomButtons {
  display: none;
}

.sidebarOpen .sidebarBottomButtons {
  display: flex;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  border-radius: 15px;
  justify-content: space-around;
}

.brandTitle {
  font-size: 1.1rem;
  font-weight: 700;
  color: #22215b;
}
.sidebarOpen .logoutContainer {
  padding: 0.5rem 0;
  border: solid 1px red;
}
.sidebarOpen .logoutContainer:hover {
  background-color: red;
}
.sidebarOpen .logoutContainer:hover > * {
  color: #ffffff;
}
@media screen and (min-width: 700px) {
  .sidebarContainer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 4.5rem;
    padding: 3rem 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
    -webkit-box-shadow: 11px -1px 33px -20px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 11px -1px 33px -20px rgba(0, 0, 0, 0.73);
    box-shadow: 11px -1px 33px -20px rgba(0, 0, 0, 0.73);
  }
  .sidebarOpen {
    padding: 3rem 1rem;
    align-items: flex-end;
    width: 14rem;
    transition: all 0.2s;
  }
  .sidebarOpen .logoutContainer > * {
    color: red;
  }
  .sidebarBottomButtons {
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    border-radius: 15px;
    justify-content: space-around;
  }
  .sidebarBottomButtons:disabled {
    background: none;
  }
}
