@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  background: none;
}
button:hover {
  scale: 1.03;
  transition: all 0.2s ease-in-out;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
*::-webkit-scrollbar {
  width: 0.5rem;
  background: none;
}
*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  background: #22215b;
  border-radius: 10px;
  overflow: hidden;
}
button:disabled {
  scale: 1;
  background-color: lightgray;
}
